[device]
addr = "{{ bt_host_addr }}"
name = "{{ bt_host_name }}"
packet_header = [0xAA, 0x55]

[rmq]
vhost = "{{ rmq_vhost }}"
username = "{{ rmq_app_user }}"
password = "{{ rmq_app_password }}"
exchange_name = "{{ rmq_app_exchange_name }}"
q_mongo = "{{ rmq_app_mongo_queue }}"
